@import './styles/tailwind.css';
@import './utils/colors.css';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: purple;
}

.tansition-class {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}